
    <head>
        <title> BLOB Graph </title>
        <!-- <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script> -->
    </head>

    <body>
        <h1>Test</h1>
        <canvas id="chart" style="width:300; height:300"></canvas>
    </body>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.3.0/chart.min.js" integrity="sha512-yadYcDSJyQExcKhjKSQOkBKy2BLDoW6WnnGXCAkCoRlpHGpYuVuBqGObf3g/TdB86sSbss1AOP4YlGSb6EKQPg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script> -->
    <script type="text/javascript">
    
        // google.charts.load('current', {'packages':['corechart']});
        // google.charts.setOnLoadCallback(drawChart);
        var graph_data = '<%= data %>';
        
        console.log('data', graph_data)
        window.onload = function() {

            // var graph_set = {data}
            var chart = document.getElementById('chart').getContext('2d');
            let x_axis = create_labels_set(graph_data)
            var newChart = new Chart(chart, {
                type: 'line',
                data: {
                    labels: x_axis,
                    datasets: [{
                        label: 'Traces',
                        data: graph_data,
                        fill: true,
                        borderColor: 'rgb(175, 92, 192)',
                        // tension: 0.01,
                    }]
                },
                
                options: {
                    scales: {
                        y: {
                            suggestedMin: -10,
                            suggestedMax: 5,
                            ticks: {
                                stepSize: 2
                            }
                        },
                        x: {suggestedMin: 0, 
                            max: 100,
                            ticks: {
                                stepSize: 5
                            }}
                    }
                }
            });
        }
        // Because the graphs need labels to create the functions, I'm going to
        // Create a list of empty labels for the x axis
        function create_labels_set(graph_data) {
            let array_length = 900
            let array = []
            let count = 1;
            
            while (count < (array_length)) {
                array.push(count)
                count++;
            }

            return array;
        }
    </script>